# 02 - Beginner Exercises


*   Type Conversion  
*   Data Structure

## üçëüçë
1.Ali's math score is ```19.5```. First we ask you to create a variable called the ```math_score``` and set it to ```19.5``` Then print the type of this variable using the ```type()``` function. Then, since in Ali's school, it is customary not to print grades in decimal in the report card, so you also define a variable called the ```final_score``` and convert the score into the integer and then print it.

In [ ]:
# Write your own code in this cell

## üçë

2.Sara analyzes a company's data.
This data contains a variable named ```employed``` For each person who has been looking for a job in this company.
If a person is employed, its value is equal to ```1```; otherwise, it is equal to ```0```.
Help Sara with converting her data to ```True``` or ```False```.

In [ ]:
# Write your own code in this cell 

# id = "x3q"
x3q_name = "Ebrahim Hamedi"
x3q_employed = 0

print()

# id = "b2w"
b2w_name = "Hassan Shamaizadeh"
b2w_employed = 1

print()

## üçë
3.Sara later realizes that the company has a variable named ```desired_salary``` that is kept in a string of letters, making following calculation hard for her, so she decides to change it to the integer.
Kindly help Sara to do that and then by using the ```type()``` function print the final variable type.

In [ ]:
# Write your own code in this cell 

# id = "x3q"
x3q_desired_salary = "31000"

print()

# id = "b2w"
b2w_desired_salary = "15000"

print()

 ## üçëüçë
4.Create an empty list, an empty dictionary, an empty set, and an empty tuple, then print their values and types.

In [ ]:
# Write your own code in this cell
mystring = "!@#$%^&*_+~\\/"
print(mystring, type(mystring))

!@#$%^&*_+~\/ <class 'str'>

## üçë

5.Create a list and add the first five terms of the Fibonacci sequence and print it, then add the sixth term and print it again.

In [ ]:
# Write your own code in this cell

## üçë

6.Create a set and add the first five terms of the Fibonacci sequence and print it, then add the sixth term and print it again. 
  - compare the results of these cell with the previous cell.

In [ ]:
# Write your own code in this cell

## ‚úçÔ∏è

7.Using the built-in ```tupel()``` function, try to create a tuple that contains only the sixth term of the Fibonacci sequence.

In [ ]:
# Write your own code in this cell

## üéÉ

8.Help Sara in creating a dictionary which key is equal to  person's ID [*x3q, b2m*] and values are just another dictionary with the following keys: ```name``` , ```desired_salary```, ```employed``` 
and print this dictionary.

In [14]:
# Write your own code in this cell