# 05 - Beginner Exercises


*   Tuple
*   Set

## üçêüçêüçê 
1.print the first,third and the last element of tuple below.

In [ ]:
# Write your own code in this cell 
mytuple = ("red", "orange", "yellow", "chartreuse green",
           "green", "spring green", "cyan", "azure", "blue",
           "violet", "magenta", "rose", "azure")

print()

## üçêüçêüçê 
2.What's the index of **"violet"** and **"rose"**?

In [ ]:
mytuple = ("red", "orange", "yellow", "chartreuse green",
           "green", "spring green", "cyan", "azure", "blue",
           "violet", "magenta", "rose", "azure")

print()

## üçêüçêüçê 
3.How many times does **"azure"** occur?

In [ ]:
# Write your own code in this cell 
mytuple = ("red", "orange", "yellow", "chartreuse green",
           "green", "spring green", "cyan", "azure", "blue",
           "violet", "magenta", "rose", "azure")

print()

## üçêüçêüçê 
4.What is the **sum** of all the numbers in the tuple below?
Find the **maximum**, **minimum** ,**count** and **mean** of this tuple.

In [ ]:
# Write your own code in this cell 
mytuple = (47, 2, 3, 5, 7, 11, 79, 13, 17, 19, 23, 29,31,
           89, 41, 43, 53, 59, 61, 67, 71, 73, 83, 37, 97)

## üçêüçêüçê 
5.Create a Set of one-digit prime numbers and store it in the ```primes``` variable and print it.

In [ ]:
# Write your own code in this cell 
primes =

## üçêüçêüçê 
6.The following is a set of prime numbers less than 1000.
Can you check to see if the numbers **463**, **149**, and **973** are prime? 
Which is better for determining the presence or absence of an item in a group of items, a list or a set?

In [6]:
# Write your own code in this cell 
primes = {2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41,
          43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97,
          101, 103, 107, 109, 113, 127, 131, 137, 139, 149,
          151, 157, 163, 167, 173, 179, 181, 191, 193, 197,
          199, 211, 223, 227, 229, 233, 239, 241, 251, 257,
          263, 269, 271, 277, 281, 283, 293, 307, 311, 313,
          317, 331, 337, 347, 349, 353, 359, 367, 373, 379,
          383, 389, 397, 401, 409, 419, 421, 431, 433, 439,
          443, 449, 457, 461, 463, 467, 479, 487, 491, 499,
          503, 509, 521, 523, 541, 547, 557, 563, 569, 571,
          577, 587, 593, 599, 601, 607, 613, 617, 619, 631,
          641, 643, 647, 653, 659, 661, 673, 677, 683, 691,
          701, 709, 719, 727, 733, 739, 743, 751, 757, 761,
          769, 773, 787, 797, 809, 811, 821, 823, 827, 829,
          839, 853, 857, 859, 863, 877, 881, 883, 887, 907,
          911, 919, 929, 937, 941, 947, 953, 967, 971, 977,
          983, 991}
check_13 = 13 in primes
print("13 is prime: ",check_719)

13 is prime:  True

## üçêüçêüçê 
7.Oops! apparently one of the prime numbers below One thousand, **997**, is missing. Can you add it to ```primes``` vaiable?
Then check to see if **997** is  in **primes** variable.

In [ ]:
# Write your own code in this cell

## üçê 
8.Make a set of multiples of 3 and name it **X**.

Make a set of multiples of   5 and name it **Y**.

 Can you find the multiples of 15 using the ***&*** operator and store it in variable **Z1**? 

 Can you find the multiples of 15 using the ```intersection()``` method and store it in variable **Z2**?

In [ ]:
# Write your own code in this cell 
X = {}
Y = {}
Z1 =
print(Z1)
Z2 = 
print(Z2)

## üçê
9.Now we have got the multiples of 15 and saved it in **Z1**, we also saved the multiples of 5  in the **Y**. I want you to find the multiples of 5  that are not divisible by 3.


hint: use the operator ***-*** or use the ```difference()``` method

In [ ]:
# Write your own code in this cell

## üçê
10.In the previous exercises, we stored the multiples of 3 in the X variable and the multiples of 5 in the Y variable. 

Use the **+** operators or the ```union()``` method to make a list of numbers that are either divisible by 5 or divisible by 3, or divisible by both.

In [ ]:
# Write your own code in this cell